# ============================================================
# WISHMail Environment Configuration
# ============================================================

# ------------------------------------------------------------
# Operator Account (Testnet)
# ------------------------------------------------------------
OPERATOR_ID=0.0.xxxxxxx
OPERATOR_DER_KEY=
OPERATOR_HEX_KEY=
OPERATOR_EVM_ADDR=

# ------------------------------------------------------------
# Network Endpoints
# ------------------------------------------------------------
HEDERA_RPC_URL=https://testnet.hashio.io/api
MIRROR_NODE_URL=https://testnet.mirrornode.hedera.com/api/v1

# ------------------------------------------------------------
# Token IDs (HTS Fungible Tokens)
# ------------------------------------------------------------

POSTAGE_TOKEN_ID=0.0.xxxxxxx
POSTAGE_ADDR=0x000000000000000000000000000000000000xxxx

#--- Token Summary ---

#  $POSTAGE    : 0.0.XXX  0x0000000000000000000000000000000000zzzzzz

# ------------------------------------------------------------
# Topic IDs (Prices and others)
# ------------------------------------------------------------

PRICE_TOPIC_ID=0.0.XXXXXXXX
